@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main{
  position: absolute;
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 100%;

  .spinner-container{
      .loading-spinner {
          width: 150px;
          height: 150px;
          border: 10px solid #f3f3f3; /* Light grey */
          border-top: 10px solid #383636; /* Black */
          border-radius: 50%;
          animation: spinner 1.5s linear infinite;
        }
  }   
}
