.card-registration .select-input.form-control[readonly]:not([disabled]) {
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.gradient-custom{
  margin-top:5px;
  margin-bottom: 5px;
}
.text-error{
  margin: 5px 0 0 7px;
  color: red;
}
